VITE_FIREBASE_API_KEY=AIzaSyCNtbwFu8ahai8q1ydrTtdGVhvUUPGMIq4
VITE_FIREBASE_AUTH_DOMAIN=bitepass-3b65d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bitepass-3b65d
VITE_FIREBASE_STORAGE_BUCKET=bitepass-3b65d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=967235486212
VITE_FIREBASE_APP_ID=1:967235486212:web:399fef7b0b57f5c748eb51
VITE_PAYSTACK_PUBLIC_KEY=pk_test_d1307674d946b5129b56f695ae30e2ebd3be9f5b
